div[role='presentation'] > .virtualized_select-list-container {
  max-height: 416px;
  overflow: hidden;
  display: flex;
}

div[role='presentation'] > .virtualized_select-list-container > div {
  box-sizing: border-box;
  padding: 0;
}

div[role='presentation'] > .virtualized_select-list-container > div > div {
  outline: none;
  overflow-x: hidden !important;
}
