@import '~typeface-roboto/index.css';
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* fix safari input default behaver */
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/*  fix edge input default clear button */
input::-ms-clear {
  display: none;
}

.ReactVirtualized__Grid,
.ReactVirtualized__List {
  outline: 0;
}
