div[role="presentation"]>.caller_id-list-container {
  max-height: 416px;
  min-width: 112px;
  max-width: 320px;
  overflow: hidden;
  display: flex;
  padding: 8px 0;
}

div[role="presentation"]>.caller_id-list-container div[data-test-automation-id="virtualized-list"] {
  outline: none;
}

div[role="presentation"]>.caller_id-list-container>ul {
  box-sizing: border-box;
  padding: 0;
}
